<header class="site-header">
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
			
				    <div class="navbar-header col-xs-12 col-sm-12 col-md-3 col-lg-3 center" >
				   	      <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#example-navbar-collapse">
					         <span class="icon-bar"></span>
					         <span class="icon-bar"></span>
					         <span class="icon-bar"></span>
					      </button>
					      <div class="sitehome">
						 	<a href="{{ site.baseurl }}/" title="首页"><i class="fa fa-home fa-2x homeicon"></i><a><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
						</div>
				   </div>
				  
				  
				  <div class="col-md-6 col-lg-6 hidden-xs hidden-sm center">				  			
							<nav class="site-nav">
								        <ul class="nav nav-pills">
											<li class="select"><a class="page-link pjaxlink" href="/pages/read.html">读书</a></li>
											<li class="select"><a class="page-link pjaxlink" href="/pages/class.html">分类</a></li>
											<li class="select"><a class="page-link pjaxlink" href="/pages/archive.html">归档</a></li>
											<li class="select"><a class="page-link pjaxlink" href="/pages/about.html">关于</a></li>
								        </ul>
							</nav>
				  </div>
				  
				   <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
				   		<div class="search">
						  	<input type="text" class="search-query st-default-search-input" placeholder="Search">
				   		</div>
				   </div>
				   
				   
				   <div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav phone-nav center">
							<li class="phoneselect"><a class="page-link pjaxlink" href="{{site.baseurl}}/"><i class="fa fa-home"></i>&nbsp;首页</a></li>
							<li class="phoneselect"><a class="page-link pjaxlink" href="/pages/read.html"><i class="fa fa-book"></i>&nbsp;读书</a></li>
							<li class="phoneselect"><a class="page-link pjaxlink" href="/pages/class.html"><i class="fa fa-tasks"></i>&nbsp;分类</a></li>
							<li class="phoneselect"><a class="page-link pjaxlink" href="/pages/tags.html"><i class="fa fa-tags"></i>&nbsp;标签</a></li>
							<li class="phoneselect"><a class="page-link pjaxlink" href="/pages/archive.html"><i class="fa fa-archive"></i>&nbsp;归档</a></li>
							<li class="phoneselect"><a class="page-link pjaxlink" href="/pages/about.html"><i class="fa fa-user"></i>&nbsp;关于</a></li>
						</ul>
				   </div>
				   
			</nav>
		</div>
	</div>
</header>
