<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content">
   	<div class="container">	
   		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 box-shadow fadein-right aside2">
					<div class="page-content" id="pjax">{{content}}</div>
			</div>

			<div class="col-md-3 col-lg-3 hidden-xs hidden-sm aside1 fadein-left">
				<div class="profile box-shadow center">
					<div class="overlay"></div>
					<div class="center gavatar">
						<a href="/" class="profile_gavatar"><img class="circle" src="{{ site.gavatar }}"></a>
					</div>
					<div class="address">
						<h5><span class="fa fa-map-marker"></span> AnHui HeFei, China</h5>
					</div>
					<div class="center profile_desc">
						{{ site.profile_desc }}
					</div>
					<div style="text-align: center;">
						<a onclick="dashangToggle()" class="zanzhume" title="打赏作者" style="text-decoration:none;" href="javascript:void(0)">打赏</a>
					</div>
				</div>

				<div class="clear"></div>
				
				<div class="tag-cloud-text">
					<a href="http://www.twistedwg.com/pages/tags.html" title="标签" class="pjaxlink"><p class="center">标签</p></a>
				</div>
				<div class="tag-cloud ">	
					<hr>
					<div class="page-tag">
							{% for tag in site.tags %}
								<a href="http://www.twistedwg.com/pages/tags.html#{{tag[0]}}" name="{{tag[0]}}" class="pjaxlink"><i class="fa fa-tags"></i>{{ tag[0] }}({{tag[1].size}})</a>
							{% endfor %}
					</div>					
				</div>

				<div class="clear"></div>

	 			<div class="recentuse">
	 					<p>常用链接</p>
	 					<hr>
	 					<ul>
		 					<li><a target="_blank" href = "http://www.hfut.edu.cn/">合肥工业大学</a></li>
							<li><a target="_blank" href = "http://www.zjnu.edu.cn/">浙江师范大学</a></li>
		 					<li><a target="_blank" href = "https://github.com/">github主页</a></li>
	 					</ul>
	 			</div>
				
				<div class="friendlink">
	 					<p>友情链接</p>
	 					<hr>						
		 				<a target="_blank" href = "https://www.godcheese.com/"><img src="/assets/img/Friendlink/gioov.jpg" height = '50px' alt="极客gioov"></a>
						<!-- <a target="_blank" href = "http://wo.yes1.cn/"><img src="http://p5tphfxen.bkt.clouddn.com/fav.jpg" height = '50px' alt="长风-不忘初心"></a> -->
						<a target="_blank" href = "https://kexue.fm/"><img src="https://avatars1.githubusercontent.com/u/9159613?s=400&v=4" height = '50px' alt="科学空间"></a>
						<a target="_blank" href = "http://www.tybai.com/"><img src="https://avatars2.githubusercontent.com/u/20573808?s=400&v=4" height = '50px' alt="百度哥么么哒"></a>
						<a target="_blank" href = "https://xingxl.github.io/"><img src="/assets/img/Friendlink/XL.jpg" height = '50px' alt="罗师兄主页"></a>
						<a target="_blank" href = "https://tanhuadong.github.io/"><img src="/assets/img/Friendlink/dd.jpeg" width = '50px' alt="东哥主页"></a>
	 			</div>

				<div style="background:#fff;margin:30px 0;border-radius: 4px;border: 1px solid #ddd;padding-left: 15px;padding-right: 15px">
					<p>博客日历</p>
					<hr>
					{% include date.html %}
				</div>

				</div>
 		</div>	
	</div>
    </div>
    
	
	<div class="profile_social">
		<a class="rss" href="{{ site.rss_url }}" target="_blank"></a>
		<a class="github" href="{{ site.author.github }}"  target="_blank"></a>
		<a class="weibo" href="{{ site.author.weibo }}"  target="_blank"></a>
	</div>
	
    <div id="backtotop">
    		<a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
    
    <div class="pjax_loading"></div>

	{% include dashang.html %}
    {% include footer.html %}

  </body>

</html>
