/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333;font-size:14px !important; }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 5px; margin-bottom: 5px; padding-left:9px;color: #AEAEAE } /* IE indents via margin-left */

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 { list-style-type: decimal;}
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}


.prettyprint.linenums ol li, pre.prettyprint.linenums ol li {
	padding-left: 12px;
	color: #bebec5;
	line-height: 20px;
	margin-left: 0;
}
.prettyprint.linenums, pre.prettyprint.linenums {
	-webkit-box-shadow: inset 40px 0 0 #3D4C53,inset 41px 0 0 #464741;
	-moz-box-shadow: inset 40px 0 0 #3D4C53,inset 41px 0 0 #464741;
	box-shadow: inset 40px 0 0 #3D4C53,inset 41px 0 0 #464741;
}

p > code{
	margin: 0 3px;
	background: #ddd;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: rgba(0,0,0,0.6);
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

a > code{
	margin: 0 3px;
	background: #ddd;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #2a7ae2;
}